$break-small: 320px;
$break-medium: 600px;
$break-large: 1200px;
.sortContainer{
    display: flex;
    font-size: 1.2em;
    .filter{
        margin-left: auto;
        display: flex;
    }
    .sort{
        justify-content: flex-end;
        margin-left: 10px;
        margin-right: 15px;
        display: inline;
        text-align: right;
    }
}
.container {
    .item {
        display: grid;
        width: 100%;
        grid-template-columns: 15px repeat(12, 1fr) 15px;
        grid-template-rows: repeat(15fr);
    }
    .image {
        margin-top: 20px;
        grid-column: 2   / 14;
        grid-row: 2 / 2;
        position: relative; 

        img {
            max-width: 100%;
            
            -webkit-filter: brightness(100%);
            

            .image:hover{
                -webkit-filter: brightness(50%);
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                transition: all 0.5s ease;
                .hover-text{
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    display: block;
                }
    
            }
        }
        .hover-text{
            display: none;
        }
        


    }
    .artist {
        grid-column: 2 / 9;
        grid-row: 13 / 14;
        font-size: 1.2em;
        color: #e0e0e0;
        margin-top: 5px;
    }
    .album {
        grid-column: 2 / 14;
        grid-row: 13 / 14;
        text-align: right;
        font-size: 1.2em;
        color: #f4f4f4;
        margin-top: 5px;
    }
    .year {
        grid-column: 10 / 14;
        grid-row: 14 / 15;
        text-align: right;
        font-size: 1em;
        font-weight: lighter;
        margin-top: 5px;
    }
    .price {
        grid-column: 2 / 9;
        grid-row: 14 / 15;
        font-size: 1em;
        font-weight: lighter;
        margin-top: 3.5px;
        button {
            background-color: rgb(41, 41, 41);
            color: #e0e0e0;
            font-size: 1em;
            border: 2px solid rgb(9, 112, 12);
            border-radius: 6px;
            transition-duration: 0.4s;
          }
          button:hover {
            background-color: rgb(29, 112, 12); /* Green */
            color: white;
          }
    }
}

//* scss för tablet
@media screen and (min-width: $break-medium) {

header {
    #logo-container {
        height: 65%;
    }
}
.sortContainer {
    display: flex;
    font-size: 1.2em;

    .filter {
        margin-left: auto;
        display: flex;
    }

    .sort {
        justify-content: flex-end;
        margin-left: 10px;
        margin-right: 15px;
        display: inline;
        text-align: right;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(2,1fr);   
}
}
//* scss för desktop
@media screen and (min-width: $break-large) {

    header {
        height: 60px;
        grid-template-rows: 100%;
        #logo-container {
            height: 70%;
        }
        .header-icon {
            font-size: 1.5vw;
        }
    }
    .sortContainer{
        display: flex;
        font-size: 1.2em;
        .filter{
            margin-left: auto;
            display: flex;
        }
        .sort{
            justify-content: flex-end;
            margin-left: 10px;
            margin-right: 15px;
            display: inline;
            text-align: right;
        }
    }
    .container {
        grid-template-columns: repeat(3,1fr);
    }
}