<%- include ("head.ejs") %>
<%- include ("header.ejs") %>

<body>
    <!-- example, only to test page -->
    <form action="/add-album" method="post">
        <div>Name<input type="text" name="name" /></div>
        <div>Artist<input type="text" name="artist" /></div>
        <div>Price<input type="text" name="price" /></div>
        <div>Description<input type="text" name="description" /></div>
        <div>imgUrl<input type="text" name="imgUrl" /></div>
        <div><button type="submit">Add album</button></div>
    </form>
    <!-- end of example, only to test page -->
</body>

</html>