<%- include('head') %>
<body>
    <%- include('header') %>

    <h1>Cart</h1>

    <p>Welcome <strong><%= user.username %></strong> to your cart. You have <%= user.cart.length %> items in your cart.</p>

    <form action="/checkout" method="get">
        <button type="submit">To checkout page</button>
    </form>

</body>
</html>