<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation page</title>
</head>
<body>

    <h1>Confirmation page</h1>
    <br />
    <p>Thank you for your purchase.</p>
    <p>Here is your order number: <br />HERE: ORDER NUMBER</p>
    
    <a href="/">Main page</a>

</body>
</html>