<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>

    <h1>Confirmation page</h1>
    <br />
    <p>Thank you for your purchase.</p>
    <p>Here is your order number: <br />HERE: ORDER NUMBER</p>

    <a href="/">Main page</a>

</body>

</html>