<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skivbolaget</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <h1>Welcome to Skivbolaget: library</h1>
    <a href="/library">Go to Skivbolaget library</a><br />
    <a href="/add-album">Go to add album</a>
</body>
</html>