<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skivbolaget</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <!-- example, only to test page -->
    <h1>Skivbolaget</h1>
    <a href="/add-album">Go to add album</a>    
    
    <!-- example ends -->
</body>
</html>