<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up page</title>
</head>
<body>
    <h1>Sign-up page</h1>

    <form action="/signup" method="post">

        <input type="email" name="email" id="email" placeholder="enter you email"><br />
        <input type="text" name="username" id="username" placeholder="enter you username"><br />
        <br />
        <input type="password" name="password" id="password" placeholder="enter your password"><br />
        <input type="password" name="password-repeat" id="password" placeholder="please repeat your password"><br />
        <br />
        <button type="submit">Sign Up</button>
    
        <p>Do you already have an account? <a href="/login">Login page</a></p>
    
    </form>

</body>
</html>