<%- include('head') %>
<body>
    <%- include('header') %>

<h1>skivbolaget: userprofile</h1>
    <a href="/cart" style="color:white">your cart</a><br />

    <p>Welcome <%= user.username %></p>

    

</body>

</html>