<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skivbolaget: user profile</title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://kit.fontawesome.com/5fc0d582b6.js" crossorigin="anonymous"></script>
</head>

<body>

    <a href="/" style="color:white">skivbolaget root</a><br />
    <a href="/cart" style="color:white">your cart</a><br />

    <p>Welcome <%= user.username %></p>

    

</body>

</html>