header {
    display: grid;
    width: 100%;
    height: 13%;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    /* grid-template-columns: 50px 200px 50px 50px; */
    text-align: center;

    /* grid-template-rows: 13%; */
  }


  .menu {
    /* grid-column-start: 0;
    grid-column-end: 1; */
    grid-column: 1 / 2;
    grid-row: 0 / 1 ;
  }

  .logo{
    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-column: 2 / 5;
    grid-row: 0 / 1 ;
  }

  .user{
    /* grid-column-start: 2;
    grid-column-end: 3; */
    grid-column: 5 / 6;
    grid-row: 0 / 1 ;
  }

  .shoppingCart{
    /* grid-column-start: 3;
    grid-column-end: 4; */
    grid-column: 6 / 7;
    grid-row: 0 / 1 ;
  }

  .container {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-gap: 10px;
    grid-template-rows: auto;
  }