.header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    grid-template-rows: 13%;
  }

  .menu {
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
  }

  .logo{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 0;
    grid-row-end: 1;
  }

  .user{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 0;
    grid-row-end: 1;
  }

  .shoppingCart{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 0;
    grid-row-end: 1;
  }