body {
    background-color: #0D0D0D;
    color: #e0e0e0;
   }
header {
    display: grid;
    width: 100%;
    grid-template-columns: [menu] 1fr [logo] 5fr [user] 1fr [shoppingCart] 1fr;
    align-items: center;
    text-align: center;
    height: 13%;
    background-color: rgb(46, 46, 46);
    #logo-small{
        height: 50px; 
        width: auto;
    }
    i{
    color:#e0e0e0;
    }
}
.sortContainer{
  display: flex;
  font-size: 1.2em;
  .filter{
    
    margin-left: auto;
    display: flex;
    }
    .sort{
      justify-content: flex-end;
      margin-left: 10px;
      margin-right: 15px;
    display: inline;
    text-align: right;
    }
}

.container {
    .item{
        display: grid;
        width: 100%;
        grid-template-columns: 15px repeat(12, 1fr) 15px;
        grid-template-rows: repeat(15fr);
    }
    .image{

        grid-column: 2 / 14;
        grid-row: 1 / 2;
    img{
      max-width: 100%;
    }
    }
    .artist{
      grid-column: 2 / 6;
      grid-row: 13 / 14;
      font-size: 1.8em;
    }
    .album{
      grid-column: 8 / 14;
      grid-row: 13 / 14;
      text-align: right;
      font-size: 1.8em;
      color: white;
    }
    .year {
      grid-column: 2 / 6;
      grid-row: 14 / 15;
      font-size: 1.4em;
    }
    .genre {
      grid-column: 8 / 14;
      grid-row: 14 / 15;
      text-align: right;
      font-size: 1.4em;
    }
  }
    
.albumContainer {
     text-align: center;
     width: 93%;
     margin: auto;
     /* todo all scss under denna kan t abort text-align och width */
   
   .fullAlbum {
     /* background: #18818C; */
     border: 4px solid #18818C;
     box-sizing: border-box;
     border-radius: 6px;
   }
   .price {
     /* background: #18A026; */
     border-radius: 5px;
     border: 4px solid #18A026;
     box-sizing: border-box;
     border-radius: 6px;
   } 
   .musicPlayer {

   }
   .curator {
     border: 4px solid #0F5259;
     box-sizing: border-box;
     border-radius: 6px;
   }
   .curatorsNote {
     border: 1px solid #EEEEEE;
     box-sizing: border-box;
   }
   .aboutAlbum {
     border: 4px solid #0F5259;
     box-sizing: border-box;
     border-radius: 6px;
   }
   .albumInfo {
     border: 1px solid #EEEEEE;
     box-sizing: border-box;
   }
}