header {
    display: grid;
    width: 100%;
    grid-template-columns: [menu] 1fr [logo] 5fr [user] 1fr [shoppingCart] 1fr;
    align-items: center;
    text-align: center;
    height: 13%;
    background-color: rgb(46, 46, 46);
  }



  #logo-small{
    height: 50px;
    width: auto;
  }
i{
  color:#e0e0e0;
}
 